## Import dependencies and read csv

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier

In [41]:
#credentials for database

#from sqlalchemy import create_engine
#from config_db import db_password
# Read ml_input table into dataframe
db_string = f”postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow”
engine = create_engine(db_string)
# table named ‘ml_input’ will be returned as a dataframe.
ml_input_df = pd.read_sql_table(‘ml_input’, engine)
ml_input_df

SyntaxError: invalid character in identifier (<ipython-input-41-c4bce657f015>, line 6)

In [2]:
#csv for testing our ML models

file_path='ML_Input_Jan2021.csv'
df=pd.read_csv(file_path)

In [3]:
df.head()

,q_id,accepted_answer_id,q_score,q_score_tier,q_view_count,q_view_count_bin,q_title_char_count,q_title_char_count_bin,q_title_word_count,q_title_word_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,q_hour_min,accepted_answer_duration
0,65526420,65526457,2,Positive Score (>0),62,50-16000,72,Medium (50-100),13,Medium (10-20),116,100-250,3,Friday,0,00:05,0.122066
1,65526423,65526533,2,Positive Score (>0),48,40-50,48,Short (0 - 50),8,Short (0 - 10),58,50-100,2,Friday,0,00:06,0.475172
2,65526490,65526541,2,Positive Score (>0),35,30-40,81,Medium (50-100),13,Medium (10-20),117,100-250,2,Friday,0,00:20,0.287423
3,65526419,65526554,3,Positive Score (>0),351,50-16000,76,Medium (50-100),9,Short (0 - 10),50,<50,4,Friday,0,00:05,0.575997
4,65526523,65526577,2,Positive Score (>0),117,50-16000,82,Medium (50-100),14,Medium (10-20),305,250-500,3,Friday,0,00:30,0.253412

## Data Preprocessing

- Dropped null values and dropped uncessary columns
- Binned data in accepted_answer_duration

In [28]:
#drop identification columns also q_hour_min and q_body_len_bin columns as they are redundant to other columns

input_df=df[['q_title_word_count_bin','q_body_len_bin','q_tags_count','q_day','q_hour','accepted_answer_duration']]
input_df.head()

,q_title_word_count_bin,q_body_len_bin,q_tags_count,q_day,q_hour,accepted_answer_duration
0,Medium (10-20),100-250,3,Friday,0,0.122066
1,Short (0 - 10),50-100,2,Friday,0,0.475172
2,Medium (10-20),100-250,2,Friday,0,0.287423
3,Short (0 - 10),<50,4,Friday,0,0.575997
4,Medium (10-20),250-500,3,Friday,0,0.253412

In [29]:
df=df.dropna()

In [30]:
#bin accepted_answer_duration

answer_bins = [0, 24, 6000]
answer_bins_group_names = ["<1D", ">1D"]

# Categorize score based on the bins.
input_df['accepted_answer_duration_bin'] = pd.cut(input_df['accepted_answer_duration'], answer_bins, labels=answer_bins_group_names)

In [31]:
input_df.head()

,q_title_word_count_bin,q_body_len_bin,q_tags_count,q_day,q_hour,accepted_answer_duration,accepted_answer_duration_bin
0,Medium (10-20),100-250,3,Friday,0,0.122066,<1D
1,Short (0 - 10),50-100,2,Friday,0,0.475172,<1D
2,Medium (10-20),100-250,2,Friday,0,0.287423,<1D
3,Short (0 - 10),<50,4,Friday,0,0.575997,<1D
4,Medium (10-20),250-500,3,Friday,0,0.253412,<1D

In [32]:
input_df.dtypes

q_title_word_count_bin            object
q_body_len_bin                    object
q_tags_count                       int64
q_day                             object
q_hour                             int64
accepted_answer_duration         float64
accepted_answer_duration_bin    category
dtype: object

## Create features and encode our features using pd.get_dummies

## Run Models

In [33]:
# Create our features
X = input_df.drop(['accepted_answer_duration','accepted_answer_duration_bin'], axis=1)
X = pd.get_dummies(X)

# Create our target

y = df["accepted_answer_duration_bin"]

X.head()

,q_tags_count,q_hour,q_title_word_count_bin_Long (20-30),q_title_word_count_bin_Medium (10-20),q_title_word_count_bin_Short (0 - 10),q_title_word_count_bin_XL (30+),q_body_len_bin_100-250,q_body_len_bin_250-500,q_body_len_bin_50-100,q_body_len_bin_500-10000,q_body_len_bin_<50,q_day_Friday,q_day_Monday,q_day_Saturday,q_day_Sunday,q_day_Thursday,q_day_Tuesday,q_day_Wednesday
0,3,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
1,2,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
2,2,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
4,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0

In [34]:
# Check the balance of our target values
y.value_counts()

<1D    386440
>1D     60979
Name: accepted_answer_duration_bin, dtype: int64

## Split data to training and testing sets

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)

# Random Forest Classifier 
## Fit model

In [36]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf = brfc.fit(X_train,y_train)

## Calculate Accuracy

In [37]:
# Calculated the balanced accuracy score
y_pred=rf.predict(X_test)
ba_balanced_forest=balanced_accuracy_score(y_test,y_pred)
ba_balanced_forest

0.5498612338396265

## Display Confusion Matrix

In [38]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

cm_df=pd.DataFrame(cm,
                  index=["Actual <1D", "Actual >1D"],
                  columns=["Predicted <1D", "Predicted >1D"])
cm_df

            Predicted <1D  Predicted >1D
Actual <1D          52936          43674
Actual >1D           6833           8412

## Print additional scores for analysis: precision, recall, and f1

In [39]:
#imbalanced classification report
icr_balanced_forest=classification_report_imbalanced(y_test,y_pred)

In [40]:
#Summary of findings

print(f'For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is {ba_balanced_forest}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_balanced_forest}')

For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is 0.5498612338396265

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.89      0.55      0.55      0.68      0.55      0.30     96610
        >1D       0.16      0.55      0.55      0.25      0.55      0.30     15245

avg / total       0.79      0.55      0.55      0.62      0.55      0.30    111855

## Feature Importance

In [41]:
# List the features sorted in descending order by feature importance
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.6493418039847337, 'q_hour'),
 (0.1563381725340958, 'q_tags_count'),
 (0.028771533252275383, 'q_body_len_bin_500-10000'),
 (0.024322561865921855, 'q_body_len_bin_250-500'),
 (0.01822237707806667, 'q_day_Friday'),
 (0.016447989408771693, 'q_body_len_bin_50-100'),
 (0.012365664089987233, 'q_title_word_count_bin_Short (0 - 10)'),
 (0.012046171147651889, 'q_title_word_count_bin_Medium (10-20)'),
 (0.010121220484168813, 'q_day_Tuesday'),
 (0.010008028486528287, 'q_body_len_bin_100-250'),
 (0.009411106754134086, 'q_day_Wednesday'),
 (0.009335713740691942, 'q_day_Thursday'),
 (0.009314498740185606, 'q_day_Monday'),
 (0.009055089598200882, 'q_day_Saturday'),
 (0.008692325518679656, 'q_title_word_count_bin_Long (20-30)'),
 (0.008398249932327021, 'q_day_Sunday'),
 (0.007444728038666655, 'q_body_len_bin_<50'),
 (0.00036276534491293803, 'q_title_word_count_bin_XL (30+)')]

# Easy Ensemble Classifier
## Fit Model

In [38]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

ensemble=EasyEnsembleClassifier(n_estimators=100,random_state=1)

eec = ensemble.fit(X_train, y_train)

## Calculate Accuracy

In [39]:
# Calculated the balanced accuracy score
y_pred=eec.predict(X_test)
ba_easy_ensemble=balanced_accuracy_score(y_test,y_pred)
ba_easy_ensemble

0.6286691301503385

## Display Confusion Matrix

In [50]:
# Display the confusion matrix
cm=confusion_matrix(y_test, y_pred)
 
cm_df=pd.DataFrame(cm,
                  index=["Actual <1D", "Actual >1D"],
                  columns=["Predicted <1D", "Predicted >1D"])

cm_df

            Predicted <1D  Predicted >1D
Actual <1D          60001          36609
Actual >1D           5545           9700

## Print additional scores for analysis: precision, recall, and f1

In [42]:
#imbalanced classification report
icr_easy_ensemble=classification_report_imbalanced(y_test,y_pred)

In [43]:
print(f'For the Easy Ensemble AdaBoost Classifier algortihm, the balanced accuracy score is {ba_easy_ensemble}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_easy_ensemble}')

For the Easy Ensemble AdaBoost Classifier algortihm, the balanced accuracy score is 0.6286691301503385

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.92      0.62      0.64      0.74      0.63      0.39     96610
        >1D       0.21      0.64      0.62      0.32      0.63      0.40     15245

avg / total       0.82      0.62      0.63      0.68      0.63      0.39    111855

# Logistic Regression (Neural Network)

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [22]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [23]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8637100523298089
Testing Data Score: 0.8637074784318984

In [24]:
print(f'Actual:\t\t{list(y_test[:10])}')
print("Predicted:\t{}".format(list(classifier.predict(X_test[:10]))))

Actual:		['<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D']
Predicted:	['<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D']

## Calculate Accuracy

In [31]:
# Calculated the balanced accuracy score
y_pred=classifier.predict(X_test)
ba_logistic_regression=balanced_accuracy_score(y_test,y_pred)
ba_logistic_regression

0.5

## Display Confusion Matrix

In [32]:
# Display the confusion matrix
cm=confusion_matrix(y_test, y_pred)
 
cm_df=pd.DataFrame(cm,
                  index=["Actual <1D", "Actual >1D"],
                  columns=["Predicted <1D", "Predicted >1D"])

cm_df

            Predicted <1D  Predicted >1D
Actual <1D          96610              0
Actual >1D          15245              0

## Print additional scores for analysis: precision, recall, and f1

In [33]:
#imbalanced classification report
icr_logistic_regression=classification_report_imbalanced(y_test,y_pred)

In [35]:
print(f'For the Logistic Regression algortihm, the balanced accuracy score is {ba_logistic_regression}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_logistic_regression}')

For the Logistic Regression algortihm, the balanced accuracy score is 0.5

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.86      1.00      0.00      0.93      0.00      0.00     96610
        >1D       0.00      0.00      1.00      0.00      0.00      0.00     15245

avg / total       0.75      0.86      0.14      0.80      0.00      0.00    111855