Hey Esther! Here is the code for the Random Forest model that we worked on on Wednesday

**The line of code:** 

<div class="alert alert-block alert-info">
    <b># Resample the training data with the BalancedRandomForestClassifier</b>
<br>
from imblearn.ensemble import BalancedRandomForestClassifier
<br>
brfc = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
<br>
rf = brfc.fit(X_train,y_train)
</div>

**takes so long to run, just a warning!**

## Import dependencies and read csv

I saved the df that nisha and suweatha queried into a csv and imported it into this notebook just so our analysis can be a little cleaner

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier

In [2]:
file_path='stack_overflow.csv'
df=pd.read_csv(file_path)

In [3]:
df.head()

,Unnamed: 0,q_id,q_score_tier,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,accepted_answer_id,q_day,q_hour,q_hour_min,accepted_answer_duration
0,0,67341742,Zero Score (0),Medium (50-100),Medium (10-20),30-40,217,100-250,4,67341801,Saturday,0,00:03,0.192894
1,1,67341817,Zero Score (0),Short (0 - 50),Short (0 - 10),40-50,47,<50,4,67341857,Saturday,0,00:17,0.149909
2,2,67341895,Positive Score (>0),Medium (50-100),Medium (10-20),40-50,423,250-500,2,67341911,Saturday,0,00:32,0.076868
3,3,67341936,Positive Score (>0),Medium (50-100),Medium (10-20),50-16000,243,100-250,1,67341961,Saturday,0,00:41,0.088950
4,4,67341921,Positive Score (>0),Long (100-150),Medium (10-20),40-50,57,50-100,2,67341974,Saturday,0,00:38,0.166569

## Data Preprocessing

- Dropped null values and dropped uncessary columns
- Binned data in accepted_answer_duration

In [4]:
df=df.dropna()

In [5]:
rf_df=df.drop(['q_id','accepted_answer_id'], axis=1)
rf_df.head()

,Unnamed: 0,q_score_tier,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,q_hour_min,accepted_answer_duration
0,0,Zero Score (0),Medium (50-100),Medium (10-20),30-40,217,100-250,4,Saturday,0,00:03,0.192894
1,1,Zero Score (0),Short (0 - 50),Short (0 - 10),40-50,47,<50,4,Saturday,0,00:17,0.149909
2,2,Positive Score (>0),Medium (50-100),Medium (10-20),40-50,423,250-500,2,Saturday,0,00:32,0.076868
3,3,Positive Score (>0),Medium (50-100),Medium (10-20),50-16000,243,100-250,1,Saturday,0,00:41,0.088950
4,4,Positive Score (>0),Long (100-150),Medium (10-20),40-50,57,50-100,2,Saturday,0,00:38,0.166569

In [37]:
stats_df=rf_df[['q_score_tier','accepted_answer_duration']]
stats_df.head()

          q_score_tier  accepted_answer_duration
0       Zero Score (0)                  0.192894
1       Zero Score (0)                  0.149909
2  Positive Score (>0)                  0.076868
3  Positive Score (>0)                  0.088950
4  Positive Score (>0)                  0.166569

In [50]:
rf_df.sort_values(by='accepted_answer_duration',ascending=False)

,Unnamed: 0,q_score_tier,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,q_hour_min,accepted_answer_duration
207028,207957,Zero Score (0),Medium (50-100),Medium (10-20),30-40,98,50-100,2,Thursday,14,14:36,2856.969993
201353,202268,Zero Score (0),Medium (50-100),Short (0 - 10),50-16000,140,100-250,4,Monday,8,08:18,2856.162988
209338,210268,Positive Score (>0),Long (100-150),Medium (10-20),50-16000,140,100-250,4,Sunday,4,04:49,2848.648400
195545,196437,Zero Score (0),Medium (50-100),Short (0 - 10),50-16000,228,100-250,5,Sunday,10,10:37,2774.281540
198004,198903,Positive Score (>0),Short (0 - 50),Short (0 - 10),50-16000,818,500-10000,5,Tuesday,12,12:57,2758.764791
...,...,...,...,...,...,...,...,...,...,...,...,...
118903,119495,Zero Score (0),Medium (50-100),Short (0 - 10),10-20,95,50-100,3,Thursday,23,23:38,0.004629
204995,205921,Zero Score (0),Short (0 - 50),Short (0 - 10),20-30,69,50-100,3,Wednesday,11,11:27,0.003704
171188,171983,Positive Score (>0),Medium (50-100),Short (0 - 10),30-40,149,100-250,2,Tuesday,16,16:30,0.000194
165801,166581,Positive Score (>0),Medium (50-100),Medium (10-20),10-20,41,<50,2,Friday,19,19:34,0.000191
165824,166604,Zero Score (0),Medium (50-100),Short (0 - 10),30-40,38,<50,2,Friday,19,19:56,0.000166

In [52]:
answer_bins = [0, 1, 24, 3000]
answer_bins_group_names = ["<1H", "<1D", ">1D"]

# Categorize score based on the bins.
rf_df['accepted_answer_duration_bin'] = pd.cut(rf_df['accepted_answer_duration'], answer_bins, labels=answer_bins_group_names)

In [53]:
rf_df.head()

,Unnamed: 0,q_score_tier,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,q_hour_min,accepted_answer_duration,accepted_answer_duration_bin
0,0,Zero Score (0),Medium (50-100),Medium (10-20),30-40,217,100-250,4,Saturday,0,00:03,0.192894,<1H
1,1,Zero Score (0),Short (0 - 50),Short (0 - 10),40-50,47,<50,4,Saturday,0,00:17,0.149909,<1H
2,2,Positive Score (>0),Medium (50-100),Medium (10-20),40-50,423,250-500,2,Saturday,0,00:32,0.076868,<1H
3,3,Positive Score (>0),Medium (50-100),Medium (10-20),50-16000,243,100-250,1,Saturday,0,00:41,0.088950,<1H
4,4,Positive Score (>0),Long (100-150),Medium (10-20),40-50,57,50-100,2,Saturday,0,00:38,0.166569,<1H

In [39]:
stats_df.groupby('q_score_tier').mean()

                     accepted_answer_duration
q_score_tier
Negative Score (<0)                 12.539322
Positive Score (>0)                 27.312780
Zero Score (0)                      26.289773

In [55]:
rf_df.groupby('accepted_answer_duration_bin').count()

,Unnamed: 0,q_score_tier,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,q_hour_min,accepted_answer_duration
accepted_answer_duration_bin,,,,,,,,,,,,
<1H,111305,111305,111305,111305,111305,111305,111305,111305,111305,111305,111305,111305
<1D,71404,71404,71404,71404,71404,71404,71404,71404,71404,71404,71404,71404
>1D,26711,26711,26711,26711,26711,26711,26711,26711,26711,26711,26711,26711

## Create features and encode our features using pd.get_dummies

In [65]:
# Create our features
X = rf_df.drop(['accepted_answer_duration','accepted_answer_duration_bin','Unnamed: 0'], axis=1)
X = pd.get_dummies(X)

# Create our target
y = rf_df["accepted_answer_duration_bin"]

X.head()

,q_body_word_count,q_tags_count,q_hour,q_score_tier_Negative Score (<0),q_score_tier_Positive Score (>0),q_score_tier_Zero Score (0),q_title_char_count_bin_Long (100-150),q_title_char_count_bin_Medium (50-100),q_title_char_count_bin_Short (0 - 50),q_title_word_count_bin_Long (20-30),...,q_hour_min_23:50,q_hour_min_23:51,q_hour_min_23:52,q_hour_min_23:53,q_hour_min_23:54,q_hour_min_23:55,q_hour_min_23:56,q_hour_min_23:57,q_hour_min_23:58,q_hour_min_23:59
0,217,4,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,47,4,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,423,2,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,243,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,57,2,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
# Check the balance of our target values
y.value_counts()

<1H    111305
<1D     71404
>1D     26711
Name: accepted_answer_duration_bin, dtype: int64

## Split data to training and testing sets

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)

## Fit model: Random Forest Classifier

In [68]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf = brfc.fit(X_train,y_train)

## Calculate Accuracy

In [69]:
# Calculated the balanced accuracy score
y_pred=rf.predict(X_test)
ba_balanced_forest=balanced_accuracy_score(y_test,y_pred)
ba_balanced_forest

0.42728989947746143

Accuracy of the model using y=accepted_answer_duration is **43%**

## Display Confusion Matrix


### Confusion Matrix with 3 Categories

(this is a little confusing, we should either bin it into 2 categories for ease of analysis or use the expected answer duration as our y value and bin that into 2 categories)

|                           | Predicted Negative Score (<0)  |Predicted Zero Score (0)|Predicted Positive Score (>0)|
| --------------------------| ------------------------------ |------------------------|-----------------------------|
| Actual Negative Score (<0)|    TRUE POSITIVE               |    FALSE NEGATIVE      | FALSE NEGATIVE              |
| Actual Zero Score (0)     |                                |     TRUE POSITIVE      | TRUE POSITIVE
|Actual Positive Score (>0)	|

In [63]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

cm_df=pd.DataFrame(cm,
                  index=["Actual <1H", "Actual <1D', "Actual >1D"],
                  columns=["Predicted <1H", "Predicted <1D","Predicted >1D"])
cm_df

,Predicted Negative Score (<0),Predicted Zero Score (0),Predicted Positive Score (>0)
Actual Negative Score (<0),4914,6870,6067
Actual Zero Score (0),6230,15038,6558
Actual Positive Score (>0),1356,1888,3434

## Print additional scores for analysis: precision, recall, and f1

In [13]:
# Print the imbalanced classification report
icr_balanced_forest=classification_report_imbalanced(y_test,y_pred)
print(icr_balanced_forest)

                           pre       rec       spe        f1       geo       iba       sup

Negative Score (<0)       0.15      0.46      0.70      0.23      0.57      0.32      5290
Positive Score (>0)       0.43      0.42      0.70      0.42      0.54      0.29     18059
     Zero Score (0)       0.65      0.40      0.73      0.50      0.54      0.28     29006

        avg / total       0.52      0.42      0.72      0.44      0.55      0.29     52355

In [14]:
#Summary of findings

print(f'For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is {ba_balanced_forest}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_balanced_forest}')

For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is 0.4294338073654384

and the imbalanced classifcation report is:

                           pre       rec       spe        f1       geo       iba       sup

Negative Score (<0)       0.15      0.46      0.70      0.23      0.57      0.32      5290
Positive Score (>0)       0.43      0.42      0.70      0.42      0.54      0.29     18059
     Zero Score (0)       0.65      0.40      0.73      0.50      0.54      0.28     29006

        avg / total       0.52      0.42      0.72      0.44      0.55      0.29     52355

## Feature Importance

In [70]:
# List the features sorted in descending order by feature importance
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.1143007447923381, 'q_body_word_count'),
 (0.08267488028286278, 'q_hour'),
 (0.04466696447684592, 'q_tags_count'),
 (0.015818130000895055, 'q_view_count_bin_50-16000'),
 (0.010423910203227636, 'q_day_Wednesday'),
 (0.01027358000781115, 'q_day_Thursday'),
 (0.009970748086731922, 'q_day_Tuesday'),
 (0.00978441609260875, 'q_day_Monday'),
 (0.008492565597447658, 'q_title_word_count_bin_Medium (10-20)'),
 (0.008455112389517162, 'q_day_Saturday'),
 (0.00820670359906295, 'q_title_word_count_bin_Short (0 - 10)'),
 (0.00790699978126666, 'q_score_tier_Zero Score (0)'),
 (0.007754533195261118, 'q_view_count_bin_20-30'),
 (0.007751584678058564, 'q_day_Friday'),
 (0.007732850090337837, 'q_score_tier_Positive Score (>0)'),
 (0.007723483563316564, 'q_day_Sunday'),
 (0.0069672675556941895, 'q_view_count_bin_30-40'),
 (0.0068496582127536695, 'q_title_char_count_bin_Medium (50-100)'),
 (0.005872625194443157, 'q_title_char_count_bin_Short (0 - 50)'),
 (0.005781008670643229, 'q_body_len_bin_100-250'),
 (0.005264201531098783, 'q_score_tier_Negative Score (<0)'),
 (0.00519546918543372, 'q_body_len_bin_50-100'),
 (0.004977084808532475, 'q_view_count_bin_40-50'),
 (0.004254027704390663, 'q_view_count_bin_10-20'),
 (0.004102225004785775, 'q_body_len_bin_250-500'),
 (0.0035570696004093936, 'q_title_char_count_bin_Long (100-150)'),
 (0.003269678519320218, 'q_body_len_bin_<50'),
 (0.0026024071031370303, 'q_body_len_bin_500-10000'),
 (0.0020754238951636605, 'q_title_word_count_bin_Long (20-30)'),
 (0.0007618872360754813, 'q_hour_min_14:59'),
 (0.0007553343516376929, 'q_hour_min_15:30'),
 (0.0007449183811905421, 'q_hour_min_14:52'),
 (0.0007412461034708988, 'q_hour_min_14:31'),
 (0.0007212413776904215, 'q_hour_min_15:10'),
 (0.000716997735143556, 'q_hour_min_15:02'),
 (0.0007137152956680714, 'q_hour_min_13:59'),
 (0.0007128343523248666, 'q_hour_min_13:31'),
 (0.0007090014738810846, 'q_hour_min_14:43'),
 (0.0007073702140027537, 'q_hour_min_13:06'),
 (0.000704266550435858, 'q_hour_min_12:45'),
 (0.0007006275532919461, 'q_hour_min_09:09'),
 (0.0006996559237411579, 'q_hour_min_14:40'),
 (0.0006968656852862261, 'q_hour_min_13:48'),
 (0.0006896342822013198, 'q_hour_min_15:09'),
 (0.0006838080065396042, 'q_hour_min_13:56'),
 (0.0006828348130806681, 'q_hour_min_13:40'),
 (0.0006804721840417958, 'q_hour_min_14:06'),
 (0.0006802963935705718, 'q_hour_min_11:10'),
 (0.0006780002614458884, 'q_hour_min_14:32'),
 (0.0006773257788940983, 'q_hour_min_12:47'),
 (0.00067675632510614, 'q_hour_min_15:12'),
 (0.0006767554282981142, 'q_hour_min_10:54'),
 (0.0006762932890114954, 'q_hour_min_13:13'),
 (0.0006753962529844361, 'q_hour_min_13:37'),
 (0.0006753493163071993, 'q_hour_min_09:47'),
 (0.0006732895716239614, 'q_hour_min_13:20'),
 (0.0006725988108315748, 'q_hour_min_14:36'),
 (0.0006714350434390969, 'q_hour_min_16:03'),
 (0.0006682849859245916, 'q_hour_min_14:18'),
 (0.0006665690410958126, 'q_hour_min_15:25'),
 (0.0006649767249870811, 'q_hour_min_14:49'),
 (0.0006647460848760772, 'q_hour_min_10:45'),
 (0.000664528917933854, 'q_hour_min_12:40'),
 (0.0006629265797989754, 'q_hour_min_14:25'),
 (0.0006619331864108467, 'q_hour_min_08:25'),
 (0.0006612825961157597, 'q_hour_min_11:03'),
 (0.0006599679113321779, 'q_hour_min_15:15'),
 (0.000659317562759066, 'q_hour_min_14:08'),
 (0.0006590723544257464, 'q_hour_min_12:54'),
 (0.0006590414183084727, 'q_hour_min_12:58'),
 (0.0006578320439581551, 'q_hour_min_11:41'),
 (0.0006547005866911901, 'q_hour_min_14:20'),
 (0.000654208919727775, 'q_hour_min_10:00'),
 (0.0006512445521729969, 'q_hour_min_14:23'),
 (0.0006509693530015023, 'q_hour_min_15:24'),
 (0.0006499638522481218, 'q_hour_min_14:55'),
 (0.0006489208610744406, 'q_hour_min_09:54'),
 (0.0006487001022979683, 'q_hour_min_13:58'),
 (0.0006480894878961887, 'q_hour_min_13:41'),
 (0.0006478383049540813, 'q_hour_min_14:46'),
 (0.0006455984008674688, 'q_hour_min_13:02'),
 (0.0006447447560067043, 'q_hour_min_09:39'),
 (0.0006445300147893024, 'q_hour_min_16:09'),
 (0.0006443287442712401, 'q_hour_min_15:48'),
 (0.0006437378578098309, 'q_hour_min_16:17'),
 (0.0006436351499248445, 'q_hour_min_10:25'),
 (0.0006430103952556941, 'q_hour_min_15:44'),
 (0.000642768656351301, 'q_hour_min_14:33'),
 (0.0006426268045667477, 'q_hour_min_08:50'),
 (0.0006418311439750933, 'q_hour_min_13:29'),
 (0.0006411331082372976, 'q_hour_min_13:50'),
 (0.0006411287170720792, 'q_hour_min_12:49'),
 (0.0006391676481383818, 'q_hour_min_14:14'),
 (0.0006387746589494031, 'q_hour_min_13:08'),
 (0.0006370956421021837, 'q_hour_min_15:46'),
 (0.0006369592907545643, 'q_hour_min_12:33'),
 (0.0006366783260628604, 'q_hour_min_14:01'),
 (0.0006353395498954334, 'q_hour_min_08:30'),
 (0.0006344255221845303, 'q_hour_min_15:14'),
 (0.0006332716894943858, 'q_hour_min_15:34'),
 (0.0006326277824553553, 'q_hour_min_13:51'),
 (0.0006317468401469662, 'q_hour_min_13:26'),
 (0.0006312212501700362, 'q_hour_min_12:42'),
 (0.0006308998672227842, 'q_hour_min_14:48'),
 (0.0006297926133947369, 'q_hour_min_15:01'),
 (0.0006297009652240788, 'q_hour_min_14:39'),
 (0.0006285370233085723, 'q_hour_min_14:50'),
 (0.0006284695239427953, 'q_hour_min_10:44'),
 (0.0006283755806873143, 'q_hour_min_15:32'),
 (0.0006277650331481101, 'q_hour_min_10:18'),
 (0.0006266188630263075, 'q_hour_min_11:27'),
 (0.0006264217791083993, 'q_hour_min_12:04'),
 (0.0006253302858494483, 'q_hour_min_14:45'),
 (0.0006252584140842482, 'q_hour_min_13:43'),
 (0.0006249779225861661, 'q_hour_min_13:25'),
 (0.000624529754935408, 'q_hour_min_14:35'),
 (0.0006241546006346513, 'q_hour_min_14:11'),
 (0.00062386798587477, 'q_hour_min_15:00'),
 (0.0006238519399917046, 'q_hour_min_15:08'),
 (0.0006233012602839413, 'q_hour_min_13:53'),
 (0.0006228696843213969, 'q_hour_min_14:58'),
 (0.0006227187386373898, 'q_hour_min_09:46'),
 (0.0006225992303551769, 'q_hour_min_14:47'),
 (0.0006223883855639487, 'q_hour_min_14:54'),
 (0.0006221889390409736, 'q_hour_min_14:44'),
 (0.0006218093511582456, 'q_hour_min_09:38'),
 (0.0006217378479036434, 'q_hour_min_17:25'),
 (0.0006216878238995199, 'q_hour_min_15:18'),
 (0.0006204291026715554, 'q_hour_min_10:26'),
 (0.0006199476412502313, 'q_hour_min_09:59'),
 (0.0006194269033484046, 'q_hour_min_13:46'),
 (0.0006171204950075393, 'q_hour_min_16:38'),
 (0.0006160150220280229, 'q_hour_min_14:04'),
 (0.000614616539652845, 'q_hour_min_14:09'),
 (0.0006145948674706195, 'q_hour_min_15:05'),
 (0.0006145322264527525, 'q_hour_min_09:45'),
 (0.0006142052246488724, 'q_hour_min_13:39'),
 (0.0006138008422963485, 'q_hour_min_09:53'),
 (0.0006137719247678821, 'q_hour_min_14:15'),
 (0.0006136186191066015, 'q_hour_min_10:35'),
 (0.000612751102881922, 'q_hour_min_12:51'),
 (0.000612105141466958, 'q_hour_min_12:00'),
 (0.0006120166354122909, 'q_hour_min_11:55'),
 (0.000611866945950277, 'q_hour_min_14:29'),
 (0.0006110547231163574, 'q_hour_min_13:32'),
 (0.0006104496828150433, 'q_hour_min_15:39'),
 (0.0006100156696089377, 'q_hour_min_12:23'),
 (0.0006089664811216867, 'q_hour_min_15:37'),
 (0.0006083018123922217, 'q_hour_min_13:18'),
 (0.0006078178063534966, 'q_hour_min_15:59'),
 (0.0006071063625983209, 'q_hour_min_08:54'),
 (0.0006069350026685707, 'q_hour_min_15:22'),
 (0.0006065067655205721, 'q_hour_min_13:33'),
 (0.000606381381345465, 'q_hour_min_11:44'),
 (0.0006062323002241194, 'q_hour_min_15:56'),
 (0.0006060886969665783, 'q_hour_min_08:49'),
 (0.0006057531240281676, 'q_hour_min_13:27'),
 (0.0006055759790693222, 'q_hour_min_15:36'),
 (0.0006051551251216279, 'q_hour_min_16:43'),
 (0.0006051540432158498, 'q_hour_min_12:55'),
 (0.0006045519463928533, 'q_hour_min_13:14'),
 (0.0006041705219600806, 'q_hour_min_09:29'),
 (0.0006037889741814412, 'q_hour_min_10:12'),
 (0.0006036741215503344, 'q_hour_min_15:11'),
 (0.0006032132626959408, 'q_hour_min_15:17'),
 (0.0006029859643384069, 'q_hour_min_09:15'),
 (0.0006029036260774625, 'q_hour_min_11:32'),
 (0.0006027774467834992, 'q_hour_min_14:03'),
 (0.0006015037066455635, 'q_hour_min_11:52'),
 (0.0006013404896992085, 'q_hour_min_12:44'),
 (0.0006011167894061796, 'q_hour_min_12:08'),
 (0.0006008708445015077, 'q_hour_min_11:45'),
 (0.0006001825337349467, 'q_hour_min_11:38'),
 (0.0005999619582460509, 'q_hour_min_12:31'),
 (0.0005998209621294868, 'q_hour_min_11:06'),
 (0.0005997707041433672, 'q_hour_min_13:34'),
 (0.0005993143846383629, 'q_hour_min_11:35'),
 (0.0005992226985810328, 'q_hour_min_13:54'),
 (0.0005989573025598787, 'q_hour_min_11:34'),
 (0.0005983663230088932, 'q_hour_min_12:05'),
 (0.0005980478174691423, 'q_hour_min_10:03'),
 (0.0005974677505641476, 'q_hour_min_14:21'),
 (0.0005973674780156794, 'q_hour_min_15:53'),
 (0.0005971617130926905, 'q_hour_min_10:27'),
 (0.0005970655223248965, 'q_hour_min_13:44'),
 (0.0005968209635158663, 'q_hour_min_15:41'),
 (0.0005968119608342382, 'q_hour_min_14:53'),
 (0.000595812954918188, 'q_hour_min_13:05'),
 (0.0005957698026571227, 'q_hour_min_14:42'),
 (0.0005956209714338316, 'q_hour_min_15:35'),
 (0.0005954142903868611, 'q_hour_min_13:12'),
 (0.0005951150768220689, 'q_hour_min_15:03'),
 (0.0005942091800358709, 'q_hour_min_12:38'),
 (0.0005937494159820281, 'q_hour_min_14:41'),
 (0.0005917159828432006, 'q_hour_min_14:57'),
 (0.0005908398113470366, 'q_hour_min_10:56'),
 (0.0005901392495702229, 'q_hour_min_14:28'),
 (0.0005875840277208012, 'q_hour_min_15:04'),
 (0.0005874812083524268, 'q_hour_min_08:51'),
 (0.0005868260548340459, 'q_hour_min_09:16'),
 (0.0005864561244862438, 'q_hour_min_16:11'),
 (0.000586062620265874, 'q_hour_min_11:02'),
 (0.0005860387667176989, 'q_hour_min_09:22'),
 (0.000585350857990856, 'q_hour_min_11:14'),
 (0.0005853455621172316, 'q_hour_min_15:55'),
 (0.0005852937190767778, 'q_hour_min_09:04'),
 (0.0005851306984322203, 'q_hour_min_15:21'),
 (0.0005847825942835699, 'q_hour_min_15:23'),
 (0.0005846863811485358, 'q_hour_min_12:46'),
 (0.0005845962223122902, 'q_hour_min_16:49'),
 (0.0005840472342028865, 'q_hour_min_08:10'),
 (0.0005840015046178556, 'q_hour_min_12:57'),
 (0.0005835072128446316, 'q_hour_min_13:15'),
 (0.000582519561238128, 'q_hour_min_13:11'),
 (0.0005822648941615719, 'q_hour_min_12:39'),
 (0.0005821538461030563, 'q_hour_min_15:16'),
 (0.0005816547552148753, 'q_hour_min_16:41'),
 (0.0005809958108480734, 'q_hour_min_15:45'),
 (0.0005808459937861218, 'q_hour_min_16:02'),
 (0.0005807301504189299, 'q_hour_min_11:26'),
 (0.0005794718514073633, 'q_hour_min_14:27'),
 (0.0005794024175226662, 'q_hour_min_13:09'),
 (0.000579221903312007, 'q_hour_min_12:52'),
 (0.000578785589825879, 'q_hour_min_13:19'),
 (0.0005786625204296627, 'q_hour_min_13:21'),
 (0.0005778852508669263, 'q_hour_min_15:40'),
 (0.0005775650771671714, 'q_hour_min_12:19'),
 (0.0005772935990059776, 'q_hour_min_11:59'),
 (0.0005761041517212687, 'q_hour_min_15:06'),
 (0.0005760368747506885, 'q_hour_min_13:00'),
 (0.000573982117411325, 'q_hour_min_09:34'),
 (0.0005739705344525065, 'q_hour_min_10:30'),
 (0.000573809339786257, 'q_hour_min_14:00'),
 (0.0005734291676467543, 'q_hour_min_15:20'),
 (0.0005732857422520504, 'q_hour_min_09:49'),
 (0.0005732402540560205, 'q_hour_min_16:47'),
 (0.0005725772289646282, 'q_hour_min_09:44'),
 (0.0005724515194670563, 'q_hour_min_16:48'),
 (0.0005721229850899445, 'q_hour_min_14:51'),
 (0.0005720216485509952, 'q_hour_min_11:15'),
 (0.0005720196661946839, 'q_hour_min_12:56'),
 (0.000571778362524, 'q_hour_min_15:52'),
 (0.0005706759877107822, 'q_hour_min_17:05'),
 (0.0005706222727851532, 'q_hour_min_13:35'),
 (0.0005704267505809111, 'q_hour_min_09:18'),
 (0.0005703844605732999, 'q_hour_min_15:50'),
 (0.0005694158163113068, 'q_hour_min_15:07'),
 (0.0005693490072095106, 'q_hour_min_13:49'),
 (0.0005692245887545831, 'q_hour_min_11:20'),
 (0.0005691594262815549, 'q_hour_min_14:22'),
 (0.0005678723074386527, 'q_hour_min_12:53'),
 (0.0005677394679026355, 'q_hour_min_14:24'),
 (0.0005677177934904306, 'q_hour_min_09:27'),
 (0.000567144708593064, 'q_hour_min_13:17'),
 (0.0005670995907547577, 'q_hour_min_11:31'),
 (0.0005670096107223783, 'q_hour_min_09:28'),
 (0.0005669950256862812, 'q_hour_min_15:13'),
 (0.0005669333572969761, 'q_hour_min_14:10'),
 (0.0005665140431089247, 'q_hour_min_14:37'),
 (0.0005663626958629871, 'q_hour_min_10:22'),
 (0.0005661821039953753, 'q_hour_min_10:41'),
 (0.0005656170075093334, 'q_hour_min_13:30'),
 (0.0005654835396855655, 'q_hour_min_18:09'),
 (0.0005651921117772585, 'q_hour_min_14:34'),
 (0.000565129013338885, 'q_hour_min_14:19'),
 (0.0005648284386793284, 'q_hour_min_12:20'),
 (0.0005645342231434989, 'q_hour_min_14:02'),
 (0.0005640167679753842, 'q_hour_min_11:39'),
 (0.0005633990588583994, 'q_hour_min_12:25'),
 (0.0005633801406056914, 'q_hour_min_12:43'),
 (0.0005631906654699085, 'q_hour_min_11:04'),
 (0.0005629701013332119, 'q_hour_min_10:34'),
 (0.0005627267222888553, 'q_hour_min_11:05'),
 (0.0005626179396587881, 'q_hour_min_08:58'),
 (0.0005625698406964807, 'q_hour_min_12:11'),
 (0.0005625605105334142, 'q_hour_min_16:45'),
 (0.0005622570198042072, 'q_hour_min_11:53'),
 (0.000561276638367558, 'q_hour_min_09:40'),
 (0.0005610275873066732, 'q_hour_min_07:08'),
 (0.0005602109140002776, 'q_hour_min_11:28'),
 (0.0005601523457817917, 'q_hour_min_08:21'),
 (0.0005596062804328716, 'q_hour_min_11:58'),
 (0.000559260155247966, 'q_hour_min_10:02'),
 (0.0005586923311087432, 'q_hour_min_10:36'),
 (0.0005582137814647871, 'q_hour_min_13:36'),
 (0.0005580313150611233, 'q_hour_min_10:16'),
 (0.0005579975059794911, 'q_hour_min_13:52'),
 (0.0005574643186279056, 'q_hour_min_15:38'),
 (0.0005573556514131175, 'q_hour_min_12:06'),
 (0.0005568148881339968, 'q_hour_min_11:08'),
 (0.000556773863943324, 'q_hour_min_09:10'),
 (0.0005566804495652989, 'q_hour_min_11:51'),
 (0.0005566289643334605, 'q_hour_min_09:35'),
 (0.0005566077352807059, 'q_hour_min_07:56'),
 (0.0005562556325895878, 'q_hour_min_09:41'),
 (0.0005562128427258662, 'q_hour_min_12:30'),
 (0.0005560703587248674, 'q_hour_min_14:56'),
 (0.0005557180533201554, 'q_hour_min_07:43'),
 (0.0005555965135663377, 'q_hour_min_14:30'),
 (0.0005555642289122749, 'q_hour_min_10:29'),
 (0.0005550491596423225, 'q_hour_min_13:24'),
 (0.0005547009167549949, 'q_hour_min_09:51'),
 (0.0005545262798073754, 'q_hour_min_13:42'),
 (0.0005541624044034828, 'q_hour_min_11:40'),
 (0.0005537265729966265, 'q_hour_min_15:31'),
 (0.0005535147379006938, 'q_hour_min_16:01'),
 (0.0005526717640306492, 'q_hour_min_13:03'),
 (0.0005521477916031293, 'q_hour_min_13:55'),
 (0.0005520629097295632, 'q_hour_min_12:10'),
 (0.0005519439046703323, 'q_hour_min_16:37'),
 (0.0005517393470099649, 'q_hour_min_08:40'),
 (0.0005514659854246591, 'q_hour_min_10:04'),
 (0.0005511722432685683, 'q_hour_min_09:25'),
 (0.0005509372298707707, 'q_hour_min_15:28'),
 (0.0005509033030262428, 'q_hour_min_12:59'),
 (0.0005505705516826023, 'q_hour_min_09:33'),
 (0.0005505072806892168, 'q_hour_min_11:25'),
 (0.0005498218047463028, 'q_hour_min_12:16'),
 (0.0005496621533983478, 'q_hour_min_12:34'),
 (0.0005496260784201237, 'q_hour_min_15:49'),
 (0.0005492884581223676, 'q_hour_min_12:15'),
 (0.0005490657397137863, 'q_hour_min_10:28'),
 (0.0005483721636003198, 'q_hour_min_08:39'),
 (0.000548303755956314, 'q_hour_min_16:40'),
 (0.0005482369311599017, 'q_hour_min_16:44'),
 (0.0005477823610882145, 'q_hour_min_12:36'),
 (0.0005477167833108703, 'q_hour_min_13:28'),
 (0.0005473589497211467, 'q_hour_min_15:43'),
 (0.0005472399681179863, 'q_hour_min_08:09'),
 (0.0005456299325297771, 'q_hour_min_09:06'),
 (0.0005455349740732073, 'q_hour_min_08:59'),
 (0.0005454454200426846, 'q_hour_min_14:16'),
 (0.0005451280729490194, 'q_hour_min_14:05'),
 (0.0005449103653271744, 'q_hour_min_12:21'),
 (0.0005448410394664886, 'q_hour_min_16:14'),
 (0.0005433722416427939, 'q_hour_min_16:39'),
 (0.0005429968243186355, 'q_hour_min_17:31'),
 (0.0005426236865626953, 'q_hour_min_11:18'),
 (0.0005425068442494727, 'q_hour_min_16:35'),
 (0.0005425050768547128, 'q_hour_min_16:23'),
 (0.0005423557498033086, 'q_hour_min_12:07'),
 (0.0005421301479648614, 'q_hour_min_16:13'),
 (0.0005413419338374833, 'q_hour_min_08:47'),
 (0.0005407580974884177, 'q_hour_min_16:32'),
 (0.0005407532037277051, 'q_hour_min_17:14'),
 (0.0005400422079175177, 'q_hour_min_15:19'),
 (0.0005399759071287004, 'q_hour_min_07:47'),
 (0.0005391569655602006, 'q_hour_min_11:57'),
 (0.000538757734692847, 'q_hour_min_17:37'),
 (0.000538749715599027, 'q_hour_min_18:28'),
 (0.0005384813814598315, 'q_hour_min_17:22'),
 (0.000538352256982278, 'q_hour_min_12:01'),
 (0.0005382862317125525, 'q_hour_min_16:58'),
 (0.000538182756616919, 'q_hour_min_15:47'),
 (0.0005375230106802413, 'q_hour_min_17:00'),
 (0.0005373824301534617, 'q_hour_min_09:30'),
 (0.000536702300192601, 'q_hour_min_11:23'),
 (0.0005366643130933121, 'q_hour_min_12:02'),
 (0.0005366366210037214, 'q_hour_min_12:03'),
 (0.0005364177454427543, 'q_hour_min_16:52'),
 (0.000536370011161331, 'q_hour_min_15:33'),
 (0.0005363266989852704, 'q_hour_min_10:01'),
 (0.0005362158651501624, 'q_hour_min_10:48'),
 (0.0005354299119241833, 'q_hour_min_08:45'),
 (0.0005350368943553656, 'q_hour_min_11:12'),
 (0.0005348987220364455, 'q_hour_min_10:06'),
 (0.0005347978579187111, 'q_hour_min_14:12'),
 (0.000534338208158204, 'q_hour_min_09:36'),
 (0.0005342703359438873, 'q_hour_min_10:05'),
 (0.0005337583292467453, 'q_hour_min_07:52'),
 (0.0005332452927964126, 'q_hour_min_09:08'),
 (0.0005329760608584219, 'q_hour_min_16:04'),
 (0.0005325577304324913, 'q_hour_min_10:19'),
 (0.0005323416391462164, 'q_hour_min_15:42'),
 (0.0005321544034527297, 'q_hour_min_17:28'),
 (0.0005318424686547159, 'q_hour_min_16:19'),
 (0.0005316745681334511, 'q_hour_min_16:31'),
 (0.0005315863048118157, 'q_hour_min_12:28'),
 (0.0005313429703019401, 'q_hour_min_09:00'),
 (0.0005312699229998737, 'q_hour_min_16:07'),
 (0.0005308344054390352, 'q_hour_min_12:48'),
 (0.0005305685585124869, 'q_hour_min_13:10'),
 (0.0005301841635619132, 'q_hour_min_16:08'),
 (0.0005300910975881885, 'q_hour_min_18:52'),
 (0.0005298961018535577, 'q_hour_min_19:04'),
 (0.0005296014707543652, 'q_hour_min_10:21'),
 (0.0005295838391985902, 'q_hour_min_16:00'),
 (0.0005292776724462319, 'q_hour_min_08:53'),
 (0.0005289943360266664, 'q_hour_min_09:07'),
 (0.0005285609018735376, 'q_hour_min_06:53'),
 (0.0005283865310967976, 'q_hour_min_14:26'),
 (0.0005281956540048428, 'q_hour_min_07:33'),
 (0.0005276640407197554, 'q_hour_min_13:23'),
 (0.0005275478325332854, 'q_hour_min_12:12'),
 (0.0005273974572874638, 'q_hour_min_15:54'),
 (0.0005269655677422425, 'q_hour_min_16:53'),
 (0.0005266266135474008, 'q_hour_min_18:58'),
 (0.0005265455313141297, 'q_hour_min_11:09'),
 (0.0005263443443406253, 'q_hour_min_17:21'),
 (0.0005260076038577282, 'q_hour_min_17:43'),
 (0.0005259583667500649, 'q_hour_min_10:55'),
 (0.0005254447850725665, 'q_hour_min_09:26'),
 (0.0005253105770684406, 'q_hour_min_17:03'),
 (0.0005249424739030515, 'q_hour_min_08:20'),
 (0.0005235813524905284, 'q_hour_min_10:37'),
 (0.0005229894223490757, 'q_hour_min_08:33'),
 (0.0005228641862982295, 'q_hour_min_11:49'),
 (0.0005227181393529694, 'q_hour_min_16:22'),
 (0.0005225639394228633, 'q_hour_min_12:37'),
 (0.00052127654129476, 'q_hour_min_10:24'),
 (0.0005206380285825209, 'q_hour_min_16:30'),
 (0.0005200561494841411, 'q_hour_min_09:32'),
 (0.0005199299771501738, 'q_hour_min_13:45'),
 (0.0005198721512687566, 'q_hour_min_14:17'),
 (0.0005191414053259029, 'q_hour_min_10:42'),
 (0.0005189667674806099, 'q_hour_min_18:37'),
 (0.000518701915015034, 'q_hour_min_16:24'),
 (0.0005183758467675261, 'q_hour_min_09:50'),
 (0.0005183705803669838, 'q_hour_min_16:36'),
 (0.0005180242465598695, 'q_hour_min_11:00'),
 (0.0005177728591232241, 'q_hour_min_18:11'),
 (0.0005176704577366941, 'q_hour_min_11:37'),
 (0.0005173055037031405, 'q_hour_min_14:38'),
 (0.00051695630299581, 'q_hour_min_13:47'),
 (0.0005167628515416568, 'q_hour_min_10:46'),
 (0.0005159950584019888, 'q_hour_min_07:15'),
 (0.000515612189130381, 'q_hour_min_09:03'),
 (0.0005155252261434119, 'q_hour_min_09:43'),
 (0.0005154889424694264, 'q_hour_min_10:13'),
 (0.0005154884943780248, 'q_hour_min_09:11'),
 (0.000514963604470764, 'q_hour_min_11:50'),
 (0.0005148796355808412, 'q_hour_min_12:13'),