## Import dependencies and read csv

In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier

In [5]:
! pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.1-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.1

In [6]:
#credentials for database

from sqlalchemy import create_engine
from config_db import db_password
# Read ml_input table into dataframe
db_string = f"postgresql://acospynamiyoti:{db_password}@ec2-44-198-223-154.compute-1.amazonaws.com:5432/d443pqekji2r98"
engine = create_engine(db_string)
# table named ‘ml_input’ will be returned as a dataframe.
df = pd.read_sql_table("ml_input", engine)
df

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,a_creation_date,accepted_answer_duration
0,How to check if values in individiual rows of ...,<p>Suppose I have the following data.table:</p...,65526457,2021-01-01 00:05:46.310000+00:00,2,r|data.table|rowwise,62,Positive Score (>0),72,13,Medium (50-100),Medium (10-20),50-16000,116,100-250,3,Friday,0,2021-01-01 00:13:05.747000+00:00,0.122066
1,d3.js : Generating axis ticks for ordinal values,<p>I want to use ordinal scale in x-axis with ...,65526533,2021-01-01 00:06:09.007000+00:00,2,javascript|d3.js,48,Positive Score (>0),48,8,Short (0 - 50),Short (0 - 10),40-50,58,50-100,2,Friday,0,2021-01-01 00:34:39.627000+00:00,0.475172
2,Is there a C macro that replaces varied length...,<p>I want to be able to:</p>\n<pre><code>#defi...,65526541,2021-01-01 00:20:09.553000+00:00,2,c|macros,35,Positive Score (>0),81,13,Medium (50-100),Medium (10-20),30-40,117,100-250,2,Friday,0,2021-01-01 00:37:24.277000+00:00,0.287423
3,How can I construct my objects allocated throu...,<p>C++20 removed the <code>construct()</code> ...,65526554,2021-01-01 00:05:43.627000+00:00,3,c++|std|c++20|allocator,351,Positive Score (>0),76,9,Medium (50-100),Short (0 - 10),50-16000,50,<50,4,Friday,0,2021-01-01 00:40:17.217000+00:00,0.575997
4,Navigate from parent to child in react where e...,<p>In a React app with a parent and child elem...,65526577,2021-01-01 00:30:31.933000+00:00,2,reactjs|react-router|react-router-dom,117,Positive Score (>0),82,14,Medium (50-100),Medium (10-20),50-16000,305,250-500,3,Friday,0,2021-01-01 00:45:44.217000+00:00,0.253412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447499,android studio: center ProgressPar on top of R...,<p>I'm working on a chat app where users can s...,69060817,2021-09-05 05:31:01.447000+00:00,0,android-progressbar,7,Zero Score (0),61,8,Medium (50-100),Short (0 - 10),<10,269,250-500,1,Sunday,5,2021-09-05 05:39:44.423000+00:00,0.145271
447500,"bash command for hostname only returns ""server...",<p>I'm very new to bash scripting and I'm stuc...,69060824,2021-09-05 05:34:58.063000+00:00,1,bash|virtual-machine,13,Positive Score (>0),94,14,Medium (50-100),Medium (10-20),10-20,164,100-250,2,Sunday,5,2021-09-05 05:41:47.300000+00:00,0.113677
447501,Intellij how to delete all line containing ann...,<p>I want to delete all lines that contains an...,69060862,2021-09-05 05:45:41.713000+00:00,1,intellij-idea,11,Positive Score (>0),54,8,Medium (50-100),Short (0 - 10),10-20,46,<50,1,Sunday,5,2021-09-05 05:51:12.690000+00:00,0.091938
447502,Getting sum data for smoothly shifting groups ...,<p>I have a time series data of the following ...,69060898,2021-09-05 05:36:53.920000+00:00,2,python|pandas|dataframe|time-series|cumsum,28,Positive Score (>0),84,16,Medium (50-100),Medium (10-20),20-30,255,250-500,5,Sunday,5,2021-09-05 05:58:50.680000+00:00,0.365767
447503,How to call if file exists by ID,<p>i have file in /pdf/<strong>0001_test.pdf</...,69060917,2021-09-05 03:39:22.533000+00:00,0,php|file|validation|exists,17,Zero Score (0),32,8,Short (0 - 50),Short (0 - 10),10-20,47,<50,4,Sunday,3,2021-09-05 06:02:30.813000+00:00,2.385633

In [2]:
#csv for testing our ML models

#file_path='ML_Input_Jan2021.csv'
#df=pd.read_csv(file_path)

In [7]:
df.head()

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count,q_body_len_bin,q_tags_count,q_day,q_hour,a_creation_date,accepted_answer_duration
0,How to check if values in individiual rows of ...,<p>Suppose I have the following data.table:</p...,65526457,2021-01-01 00:05:46.310000+00:00,2,r|data.table|rowwise,62,Positive Score (>0),72,13,Medium (50-100),Medium (10-20),50-16000,116,100-250,3,Friday,0,2021-01-01 00:13:05.747000+00:00,0.122066
1,d3.js : Generating axis ticks for ordinal values,<p>I want to use ordinal scale in x-axis with ...,65526533,2021-01-01 00:06:09.007000+00:00,2,javascript|d3.js,48,Positive Score (>0),48,8,Short (0 - 50),Short (0 - 10),40-50,58,50-100,2,Friday,0,2021-01-01 00:34:39.627000+00:00,0.475172
2,Is there a C macro that replaces varied length...,<p>I want to be able to:</p>\n<pre><code>#defi...,65526541,2021-01-01 00:20:09.553000+00:00,2,c|macros,35,Positive Score (>0),81,13,Medium (50-100),Medium (10-20),30-40,117,100-250,2,Friday,0,2021-01-01 00:37:24.277000+00:00,0.287423
3,How can I construct my objects allocated throu...,<p>C++20 removed the <code>construct()</code> ...,65526554,2021-01-01 00:05:43.627000+00:00,3,c++|std|c++20|allocator,351,Positive Score (>0),76,9,Medium (50-100),Short (0 - 10),50-16000,50,<50,4,Friday,0,2021-01-01 00:40:17.217000+00:00,0.575997
4,Navigate from parent to child in react where e...,<p>In a React app with a parent and child elem...,65526577,2021-01-01 00:30:31.933000+00:00,2,reactjs|react-router|react-router-dom,117,Positive Score (>0),82,14,Medium (50-100),Medium (10-20),50-16000,305,250-500,3,Friday,0,2021-01-01 00:45:44.217000+00:00,0.253412

## Data Preprocessing

- Dropped null values and dropped uncessary columns
- Binned data in accepted_answer_duration

In [8]:
#drop identification columns also q_hour_min and q_body_len_bin columns as they are redundant to other columns

input_df=df[['q_title_word_count_bin','q_body_len_bin','q_tags_count','q_day','q_hour','accepted_answer_duration']]
input_df.head()

,q_title_word_count_bin,q_body_len_bin,q_tags_count,q_day,q_hour,accepted_answer_duration
0,Medium (10-20),100-250,3,Friday,0,0.122066
1,Short (0 - 10),50-100,2,Friday,0,0.475172
2,Medium (10-20),100-250,2,Friday,0,0.287423
3,Short (0 - 10),<50,4,Friday,0,0.575997
4,Medium (10-20),250-500,3,Friday,0,0.253412

In [9]:
df=df.dropna()

In [10]:
#bin accepted_answer_duration

answer_bins = [0, 24, 6000]
answer_bins_group_names = ["<1D", ">1D"]

# Categorize score based on the bins.
input_df['accepted_answer_duration_bin'] = pd.cut(input_df['accepted_answer_duration'], answer_bins, labels=answer_bins_group_names)

In [11]:
input_df.head()

,q_title_word_count_bin,q_body_len_bin,q_tags_count,q_day,q_hour,accepted_answer_duration,accepted_answer_duration_bin
0,Medium (10-20),100-250,3,Friday,0,0.122066,<1D
1,Short (0 - 10),50-100,2,Friday,0,0.475172,<1D
2,Medium (10-20),100-250,2,Friday,0,0.287423,<1D
3,Short (0 - 10),<50,4,Friday,0,0.575997,<1D
4,Medium (10-20),250-500,3,Friday,0,0.253412,<1D

In [12]:
input_df.dtypes

q_title_word_count_bin            object
q_body_len_bin                    object
q_tags_count                       int64
q_day                             object
q_hour                             int64
accepted_answer_duration         float64
accepted_answer_duration_bin    category
dtype: object

## Create features and encode our features using pd.get_dummies

## Run Models

In [14]:
# Create our features
X = input_df.drop(['accepted_answer_duration','accepted_answer_duration_bin'], axis=1)
X = pd.get_dummies(X)

# Create our target

y = input_df["accepted_answer_duration_bin"]

X.head()

,q_tags_count,q_hour,q_title_word_count_bin_Long (20-30),q_title_word_count_bin_Medium (10-20),q_title_word_count_bin_Short (0 - 10),q_title_word_count_bin_XL (30+),q_body_len_bin_100-250,q_body_len_bin_250-500,q_body_len_bin_50-100,q_body_len_bin_500-10000,q_body_len_bin_<50,q_day_Friday,q_day_Monday,q_day_Saturday,q_day_Sunday,q_day_Thursday,q_day_Tuesday,q_day_Wednesday
0,3,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
1,2,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
2,2,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
4,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0

In [15]:
# Check the balance of our target values
y.value_counts()

<1D    386497
>1D     61007
Name: accepted_answer_duration_bin, dtype: int64

## Split data to training and testing sets

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)

# Random Forest Classifier 
## Fit model

In [17]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
rf = brfc.fit(X_train,y_train)

## Calculate Accuracy

In [18]:
# Calculated the balanced accuracy score
y_pred=rf.predict(X_test)
ba_balanced_forest=balanced_accuracy_score(y_test,y_pred)
ba_balanced_forest

0.551957911035651

## Display Confusion Matrix

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

cm_df=pd.DataFrame(cm,
                  index=["Actual Less Than 24 Hours", "Actual Greater Than 24 Hours"],
                  columns=["Predicted Less Than 24 Hours", "Predicted Greater Than 24 Hours"])
cm_df

## Print additional scores for analysis: precision, recall, and f1

In [21]:
#imbalanced classification report
icr_balanced_forest=classification_report_imbalanced(y_test,y_pred)

In [22]:
#Summary of findings

print(f'For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is {ba_balanced_forest}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_balanced_forest}')

For the Balanced Random Forest Classifier algortihm, the balanced accuracy score is 0.551957911035651

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.89      0.54      0.56      0.67      0.55      0.30     96624
        >1D       0.16      0.56      0.54      0.25      0.55      0.31     15252

avg / total       0.79      0.54      0.56      0.61      0.55      0.30    111876

## Feature Importance

In [23]:
# List the features sorted in descending order by feature importance
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.6578790562518152, 'q_hour'),
 (0.1530961063786119, 'q_tags_count'),
 (0.02979028508484758, 'q_body_len_bin_500-10000'),
 (0.023644887697074683, 'q_body_len_bin_250-500'),
 (0.016565884243161792, 'q_day_Friday'),
 (0.015988335800383693, 'q_body_len_bin_50-100'),
 (0.011952095804560614, 'q_title_word_count_bin_Medium (10-20)'),
 (0.011531057364791883, 'q_title_word_count_bin_Short (0 - 10)'),
 (0.009669331618524226, 'q_body_len_bin_100-250'),
 (0.009263230185013792, 'q_day_Tuesday'),
 (0.009204734443767643, 'q_day_Thursday'),
 (0.008980320799629172, 'q_day_Wednesday'),
 (0.008945831294286657, 'q_day_Saturday'),
 (0.008799871934026553, 'q_day_Monday'),
 (0.00823245300430076, 'q_day_Sunday'),
 (0.008064050028332338, 'q_title_word_count_bin_Long (20-30)'),
 (0.00803020514392523, 'q_body_len_bin_<50'),
 (0.0003622629229463211, 'q_title_word_count_bin_XL (30+)')]

# Easy Ensemble Classifier
## Fit Model

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

ensemble=EasyEnsembleClassifier(n_estimators=100,random_state=1)

eec = ensemble.fit(X_train, y_train)

## Calculate Accuracy

In [39]:
# Calculated the balanced accuracy score
y_pred=eec.predict(X_test)
ba_easy_ensemble=balanced_accuracy_score(y_test,y_pred)
ba_easy_ensemble

0.6286691301503385

## Display Confusion Matrix

In [50]:
# Display the confusion matrix
cm=confusion_matrix(y_test, y_pred)
 
cm_df=pd.DataFrame(cm,
                  index=["Actual <1D", "Actual >1D"],
                  columns=["Predicted <1D", "Predicted >1D"])

cm_df

            Predicted <1D  Predicted >1D
Actual <1D          60001          36609
Actual >1D           5545           9700

## Print additional scores for analysis: precision, recall, and f1

In [42]:
#imbalanced classification report
icr_easy_ensemble=classification_report_imbalanced(y_test,y_pred)

In [43]:
print(f'For the Easy Ensemble AdaBoost Classifier algortihm, the balanced accuracy score is {ba_easy_ensemble}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_easy_ensemble}')

For the Easy Ensemble AdaBoost Classifier algortihm, the balanced accuracy score is 0.6286691301503385

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.92      0.62      0.64      0.74      0.63      0.39     96610
        >1D       0.21      0.64      0.62      0.32      0.63      0.40     15245

avg / total       0.82      0.62      0.63      0.68      0.63      0.39    111855

# Logistic Regression (Neural Network)

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [22]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [23]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8637100523298089
Testing Data Score: 0.8637074784318984

In [24]:
print(f'Actual:\t\t{list(y_test[:10])}')
print("Predicted:\t{}".format(list(classifier.predict(X_test[:10]))))

Actual:		['<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D']
Predicted:	['<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D', '<1D']

## Calculate Accuracy

In [31]:
# Calculated the balanced accuracy score
y_pred=classifier.predict(X_test)
ba_logistic_regression=balanced_accuracy_score(y_test,y_pred)
ba_logistic_regression

0.5

## Display Confusion Matrix

In [32]:
# Display the confusion matrix
cm=confusion_matrix(y_test, y_pred)
 
cm_df=pd.DataFrame(cm,
                  index=["Actual <1D", "Actual >1D"],
                  columns=["Predicted <1D", "Predicted >1D"])

cm_df

            Predicted <1D  Predicted >1D
Actual <1D          96610              0
Actual >1D          15245              0

## Print additional scores for analysis: precision, recall, and f1

In [33]:
#imbalanced classification report
icr_logistic_regression=classification_report_imbalanced(y_test,y_pred)

In [35]:
print(f'For the Logistic Regression algortihm, the balanced accuracy score is {ba_logistic_regression}' 
      f'\n\nand the imbalanced classifcation report is:\n\n{icr_logistic_regression}')

For the Logistic Regression algortihm, the balanced accuracy score is 0.5

and the imbalanced classifcation report is:

                   pre       rec       spe        f1       geo       iba       sup

        <1D       0.86      1.00      0.00      0.93      0.00      0.00     96610
        >1D       0.00      0.00      1.00      0.00      0.00      0.00     15245

avg / total       0.75      0.86      0.14      0.80      0.00      0.00    111855