In [1]:
# Importing dependencies
! pip install psycopg2-binary
! pip install ipython-sql
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config_db import db_password
from config_vars import db_url

Requirement already satisfied: psycopg2-binary in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (2.9.1)
Requirement already satisfied: ipython-sql in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: sqlparse in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: pickleshare in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: backcall in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: pygments in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: decorator in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /Users/suweathasanmug/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [2]:
import psycopg2, os
os.environ["DATABASE_URL"]=db_url

In [3]:
conn = psycopg2.connect(db_url, sslmode='require')

In [6]:
%load_ext sql

In [7]:
%%sql
SELECT q.q_id,
q.accepted_answer_id,
q.q_creation_date,
an.a_id,
an.a_creation_date
INTO duration
FROM posts_questions as q
INNER JOIN posts_answers as an 
ON (q.accepted_answer_id = an.a_id);

449605 rows affected.

[]

In [9]:
results = %sql SELECT * FROM duration 
duration_df = results.DataFrame()

 * postgres://acospynamiyoti:***@ec2-44-198-223-154.compute-1.amazonaws.com:5432/d443pqekji2r98
449605 rows affected.

In [10]:
duration_df.head()

,q_id,accepted_answer_id,q_creation_date,a_id,a_creation_date
0,65526420,65526457,2021-01-01 00:05:46.310000+00:00,65526457,2021-01-01 00:13:05.747000+00:00
1,65526423,65526533,2021-01-01 00:06:09.007000+00:00,65526533,2021-01-01 00:34:39.627000+00:00
2,65526490,65526541,2021-01-01 00:20:09.553000+00:00,65526541,2021-01-01 00:37:24.277000+00:00
3,65526419,65526554,2021-01-01 00:05:43.627000+00:00,65526554,2021-01-01 00:40:17.217000+00:00
4,65526523,65526577,2021-01-01 00:30:31.933000+00:00,65526577,2021-01-01 00:45:44.217000+00:00

In [11]:
duration_df['accepted_answer_duration'] = (duration_df['a_creation_date']-duration_df['q_creation_date'])/np.timedelta64(1,'h')

In [12]:
duration_df.head()

,q_id,accepted_answer_id,q_creation_date,a_id,a_creation_date,accepted_answer_duration
0,65526420,65526457,2021-01-01 00:05:46.310000+00:00,65526457,2021-01-01 00:13:05.747000+00:00,0.122066
1,65526423,65526533,2021-01-01 00:06:09.007000+00:00,65526533,2021-01-01 00:34:39.627000+00:00,0.475172
2,65526490,65526541,2021-01-01 00:20:09.553000+00:00,65526541,2021-01-01 00:37:24.277000+00:00,0.287423
3,65526419,65526554,2021-01-01 00:05:43.627000+00:00,65526554,2021-01-01 00:40:17.217000+00:00,0.575997
4,65526523,65526577,2021-01-01 00:30:31.933000+00:00,65526577,2021-01-01 00:45:44.217000+00:00,0.253412

In [13]:
# Count number of rows with zero response time
zero_time = duration_df.groupby('accepted_answer_duration').count()
zero_time

,q_id,accepted_answer_id,q_creation_date,a_id,a_creation_date
accepted_answer_duration,,,,,
0.000000,2101,2101,2101,2101,2101
0.000166,1,1,1,1,1
0.000191,1,1,1,1,1
0.000194,1,1,1,1,1
0.002354,1,1,1,1,1
...,...,...,...,...,...
5549.643002,1,1,1,1,1
5565.991356,1,1,1,1,1
5612.275644,1,1,1,1,1
5640.635538,1,1,1,1,1
5683.996957,1,1,1,1,1

In [14]:
# Drop data rows where duration is 0; the assumption is that there's a glitch
indexNames = duration_df[duration_df['accepted_answer_duration'] == 0.000000 ].index
duration_df.drop(indexNames, inplace=True)
duration_df

,q_id,accepted_answer_id,q_creation_date,a_id,a_creation_date,accepted_answer_duration
0,65526420,65526457,2021-01-01 00:05:46.310000+00:00,65526457,2021-01-01 00:13:05.747000+00:00,0.122066
1,65526423,65526533,2021-01-01 00:06:09.007000+00:00,65526533,2021-01-01 00:34:39.627000+00:00,0.475172
2,65526490,65526541,2021-01-01 00:20:09.553000+00:00,65526541,2021-01-01 00:37:24.277000+00:00,0.287423
3,65526419,65526554,2021-01-01 00:05:43.627000+00:00,65526554,2021-01-01 00:40:17.217000+00:00,0.575997
4,65526523,65526577,2021-01-01 00:30:31.933000+00:00,65526577,2021-01-01 00:45:44.217000+00:00,0.253412
...,...,...,...,...,...,...
449600,69060773,69060817,2021-09-05 05:31:01.447000+00:00,69060817,2021-09-05 05:39:44.423000+00:00,0.145271
449601,69060793,69060824,2021-09-05 05:34:58.063000+00:00,69060824,2021-09-05 05:41:47.300000+00:00,0.113677
449602,69060850,69060862,2021-09-05 05:45:41.713000+00:00,69060862,2021-09-05 05:51:12.690000+00:00,0.091938
449603,69060801,69060898,2021-09-05 05:36:53.920000+00:00,69060898,2021-09-05 05:58:50.680000+00:00,0.365767
449604,69060411,69060917,2021-09-05 03:39:22.533000+00:00,69060917,2021-09-05 06:02:30.813000+00:00,2.385633

In [15]:
# Compare accepted_answer_id and answer_id to verify identical
duration_df['accepted_answer_id'].equals(duration_df['a_id'])

True

In [16]:
# Drop "answer_id" column because redundant
duration_df = duration_df.drop(columns=['a_id'])
duration_df.head()

,q_id,accepted_answer_id,q_creation_date,a_creation_date,accepted_answer_duration
0,65526420,65526457,2021-01-01 00:05:46.310000+00:00,2021-01-01 00:13:05.747000+00:00,0.122066
1,65526423,65526533,2021-01-01 00:06:09.007000+00:00,2021-01-01 00:34:39.627000+00:00,0.475172
2,65526490,65526541,2021-01-01 00:20:09.553000+00:00,2021-01-01 00:37:24.277000+00:00,0.287423
3,65526419,65526554,2021-01-01 00:05:43.627000+00:00,2021-01-01 00:40:17.217000+00:00,0.575997
4,65526523,65526577,2021-01-01 00:30:31.933000+00:00,2021-01-01 00:45:44.217000+00:00,0.253412

In [18]:
db_string = f"postgresql://acospynamiyoti:{db_password}@ec2-44-198-223-154.compute-1.amazonaws.com:5432/d443pqekji2r98"

In [19]:
engine = create_engine(db_string)

In [20]:
# Import duration_df to SQL table

duration_df.to_sql(name='duration', con=engine, if_exists='replace')

In [21]:
import psycopg2, os
os.environ["DATABASE_URL"]=db_url
conn = psycopg2.connect(db_url, sslmode='require')

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%%sql
SELECT q.q_title,
q.q_body,
q.accepted_answer_id,
q.q_creation_date,
q.q_score,
q.q_tags,
q.q_view_count,
q.q_score_tier,
q.q_title_char_count,
q.q_title_word_count,
q.q_title_char_count_bin,
q.q_title_word_count_bin,
q.q_view_count_bin,
q.q_body_word_count,
q.q_body_len_bin,
q.q_tags_count,
q.q_day,
q.q_hour,
d.a_creation_date,
d.accepted_answer_duration
INTO ml_input
FROM posts_questions as q
JOIN duration as d
ON (q.q_id = d.q_id);

 * postgres://acospynamiyoti:***@ec2-44-198-223-154.compute-1.amazonaws.com:5432/d443pqekji2r98
447504 rows affected.

[]